* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
=============================
Structure
=============================
*/

body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    margin: 30px 0 50px 0;
}

#buttons,
#clear {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

#win-counts {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    text-align: center;
}

.score {
    font-size: 28px;
}

/*
========================
Button Styling
========================
*/

.btn {
    height: 60px;
    width: 90px;
    border-radius: 15%;
    font-size: 20px;
}

h1,
h3 {
    text-align: center;
}

/*
=========================
Hide Content
=========================
*/

.hidden {
    display: none !important;
}


